<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp - {{title}}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        input:invalid {
            box-shadow: 0 0 5px 1px red;
          }

          input:valid {
            border: 2px solid black;
          }

    </style>
</head>

<body>

    <!-- {% set pagina_atual = request.path %}
    {% set usuario = session["user"] %} -->

    <nav class="navbar navbar-default">
        <div id="container1" class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Agenda App</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a routerLink="/contatos">Contatos</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <!-- <li>
                    <a href="/logout_action">Logout</a></li>
                  <li>
                        Olá {{usuario.username}}</li> -->
                  <li>
                    <a routerLink="/login">Login</a></li>

                  <li>
                    <a routerLink="/cadastro">Cadastrar</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- {{session["user"]}} -->
    <!-- {{request.cookies.get("userId")}} -->
    <div class="container content">

        <router-outlet></router-outlet>

    </div>
</body>
</html>
